/* common */
:root {
    /* 반복적으로 재사용할 값들을 변수화해서 모아놓을 수 있다고 함 */
    --nav-height: 50px;
    --gutter: 12px;

}

body {
    font-family: "Nanum Gothic", sans-serif;
    margin: 0;
    padding:0;
}
footer {
    background-color: #f5f5f7;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding-inline-start: 0;
}
li {
    list-style: none;
}
.hero-head-copy {
    font-weight: 700;
    font-size: 2.8em;
}
.hero-sub-copy {
    font-size: 1.6em;
    margin-top: 10px;
}
.promo-head-copy {
    font-weight: 700;
    font-size: 2.6em;
}
.promo-sub-copy {
    margin: 0 auto;
    max-width: 420px;
    font-size: 1.1em;
    line-height: 110%;
    margin-top: 10px;
}

.desc {
    margin-top: 10px;
}
.white-text {
    color: #f0f0f0;
}
.black-bg {
    background: #000;
}
/* navigation */
#global-nav {
    /* 전역 내비게이션을 하나만 사용할 것이므로 id를 지정하는 것이 좋은 방법인 것 같다 */
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;

}
.menu-wrapper {
    position: relative;
    height: inherit;
    max-width: 980px;
    padding: 0 22px;
    margin: 0 auto; /* 블록요소 안에서 좌우 마진을 auto로 주면 자식요소가 좌우 중앙정렬이 된다 */

}
.menu-list {
    display: flex;
    width: auto;
    height: inherit; /* 명시적으로 높이를 줘야 텍스트 요소를 중앙정렬 할수 있다 */
    font-size: 0.75em;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
    /* 첫번째 아이템을 영역의 시작 지점에 붙이고, 마지막 아이템을 영역 끝 부분에 붙인 다음
    나머지 아이템들을 균등분배 */
}
.item {

}
.item a {
    padding: 0 10px;
    color: #dedede;
}
.item a:hover {
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.icon {
    width: 16px;
    background-size: 16px 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/globalnav_apple_image__cxwwnrj0urau_large.svg');
}

.search {
    width: 18px;
    background-position: 10px;
    background-size: 18px 88px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/globalnav_search_image__fca9mfoh8a2q_large.svg');
}
.cart {
    width: 17px;
    background-size: 17px 44px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/globalnav_bag_image__bmix8075eg4i_large.svg');
}
/* main hero */
.main {
    display: block;
    padding-top: var(--nav-height); /* 네비게이션 높이 아래쪽에 컨텐츠가 쌓일 수 있게 패딩을 줘야한다 */
    position: relative;
    width: 100%;
    /* background: lightgray; */
}
.hero-grid {
    display: grid;
    grid-template-rows: repeat(3, 720px);
    grid-gap: var(--gutter); /* grid 내 row 간격을 준다 */
    margin-bottom: var(--gutter); /* 마지막 row에는 간격이 없어서 마진으로 줬다 */
}
.hero-wrapper {
    display: flex;
    flex-direction: column;
    position: relative; /* hero-unit의 위치를 잡아주는 용도로만 사용될 부모요소 필요 */
}
.hero-unit {
    position: absolute; /* 부모요소의 100%를 다 커버하기 위해 포지션을 지정함 */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2; /* 포지션 값이 있는 요소만 z-index가 먹힌다 */
}
.copy-wrapper {
    position: relative;
    padding-top: 60px;
    text-align: center;
    z-index: 3;
    pointer-events: none; /* div에 커서를 올렸을때 아무 이벤트 없음 */
}
.cta-link {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    pointer-events: all; /* div에 커서 올리면 이벤트 정상 발생 */
}
.cta-link a {
    color: #2997FF;
}
.cta-link a:not(:first-child) {
    margin-left: 40px;
}
.hero-img {
    position: absolute;
    margin: 0 auto;;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}
.ipad-pro {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/hero_ipad_pro__gl982dtu49im_largetall.jpg');
    background-position: center;
}
.iphone-twelve {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/iphone_12_updated__jepm2xpxncuy_largetall.jpg');
    background-position: center;
}
.imac-new {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/hero_imac_avail__zbofyl96mzmm_largetall.jpg');
    background-position: center;
}
.promo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 var(--gutter);
    gap: var(--gutter);
}

/* main promop */
.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 580px;

}
.content-unit {
    position: absolute; /* 부모요소의 100%를 다 커버하기 위해 포지션을 지정함 */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2; /* 포지션 값이 있는 요소만 z-index가 먹힌다 */
}
.content-img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    flex-grow: 1;
}
.promo-copy-wrapper {
    position: relative;
    flex-grow: 0;
    padding-top: 60px;
    text-align: center;
    z-index: 3;
}
.promo-cta-link {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}
.promo-cta-link a {
    color: #2997FF;
    text-decoration: none;
}
.promo-cta-link a:hover {
    text-decoration: underline;
}
.promo-cta-link a:not(:first-child) {
    margin-left: 40px;
}
.content-clip {
    width: 100%;
    bottom:0;
    left: 0;
    flex-grow: 1;
}
.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}
#wwdc21 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
}
.wwdc21-post {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url('../img/promo_tile_endframe__c18yebq22be6_large.jpg');
    background-position: center;
    background-size: contain;
    opacity: 0;
}
.appear {
    opacity: 1;
    transition: opacity 0.1s;
}
.disappear {
    opacity: 0;
    transition: opacity 3s;
}
.fadein {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.iphonepro12 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/iphone_12_pro_us__e5oyysg4k0ya_large.jpg');
    background-position: center;
}
.watch6 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/promo_watch_series_6_lte__f8lrasjnry2y_large.jpg');
    background-position: center;
}
.macbook-air{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/macbook_air__knzp0i282eyy_large.jpg');
    background-position: center;
}
.airtag {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/promo_airtag__e6b73a64nno2_large.jpg');
    background-position: center;
}
.arcade {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/promo_arcade_wonderbox__emq7ob1vhtw2_large.jpg');
    background-position: center;
}

/* footer */
.footer-wrapper {
    max-width: 980px;
    margin: var(--gutter) auto 0 auto;
    font-size: 11px;
    color: #7e7e7e;
}
.footnote {
    border-bottom: 1px solid #cecece;
    word-break: keep-all;
}
.footnote ul {
    margin-bottom: var(--gutter);
    padding: var(--gutter) 0;
}
.footnote li {
    line-height: 110%;
    margin-bottom: 12px;
}
.footnote li:last-child {
    margin-bottom: 0;
}
.directory {
    margin: var(--gutter) 0;
    padding: var(--gutter) 0;
}
.directory a {
    color: #7e7e7e;
}
.directory li {
    line-height: 2em;
}
.desktop-directory {
    display: flex;
}
.directory-col {
    flex-basis: 25%;
}
.label-wrapper {
    margin-top: var(--gutter);
}
.label-wrapper:not(:first-child) {
    margin-top: calc(var(--gutter) * 2);
}
.label {
    color: #515154;
    font-weight: bold;
}
.directory-items {
    margin: var(--gutter) 0;
}
.general {

}
.store {
    padding: 12px 0;
    border-bottom: 1px solid #cecece;
}
.legal {
    padding: 12px 0;
}
.copyright {
    display: inline-block;
}
.legal-links-wrapper {
    display: inline-block;
    margin-left: 40px;
}
.legal-links-wrapper a {
    color: #515154;
}
.legal-link {
    box-sizing: border-box;
    font-weight: bold;
    padding: 0 10px;
    border-right: 1px solid #cecece;
}
.legal-link:last-child {
    border-right: none;
}
.company {
    font-size: 8px;
    padding-bottom: var(--gutter)
}